body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}
.landing-page {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../public/images/tilesbackery.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  background-color: rgb(148, 96, 61);
  color: rgb(255, 255, 255);
  box-shadow: 2px 0px 4px 5px rgba(148, 96, 61, 0.2);
  border-radius: 50%;
  font-family: "Poiret One", cursive;
  font-size: 20px;
  max-width: 80px;
  padding: 50px;
  text-align: center;
}
.store {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  text-align: center;
}
