.cart {
  flex-basis: 1;
  margin-top: 20px;
}
.cart-order {
  border: 2px solid hsla(34, 65%, 18%);
  padding: 10px;

  max-width: 500px;
  background: linear-gradient(45deg, rgb(182, 75, 75) 12px, transparent 0%),
    linear-gradient(-45deg, #5f8575 12px, transparent 0%);
  background-size: 30px;
  background-color: rgb(255, 255, 255, 0.7);
}

.cart-list {
  margin: 0;
  padding-left: 0;
}

.cookie-order {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 2px;
  margin-bottom: 5px;
  border-bottom: 2px solid rgb(182, 75, 75);
}

h2 {
  text-align: center;
  font-family: Georgia, Times, "Times New Roman", serif;
  margin: 0px;
  padding: 10px;
  padding-bottom: 20px;
}
.total {
  padding: 10px;
}
.price-cookie {
  padding-left: 2px;
}
.remove-button {
  max-width: min-content;
  color: black;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px 8px;
  margin: 1px 5px;
}

.remove-button:hover {
  background-color: rgb(182, 75, 75);
}
