.description-component {
  font-family: "Poiret One", cursive;
  padding-top: 200px;
  line-height: 1.5;
  font-size: 30px;
}
.description {
  color: rgb(253, 245, 230);
  text-align: center;
}

.enter-button-landing-page {
  color: rgb(253, 245, 230);
  background-color: rgb(95, 133, 117);
  border-radius: 30%;
  border: 1px rgba(95, 133, 117, 0.795);
  width: 270px;
  font-size: 25px;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  margin: px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: "Poiret One", cursive;
  font-weight: bold;
}
.enter-button-landing-page:hover {
  background-color: rgb(71, 105, 91);
}
