.inventory-form {
  max-height: 300px;
  max-width: 260px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 4px;
  padding: 10px;
  padding-bottom: 30px;
  border: 2px solid hsla(34, 65%, 18%);
  background-color: hsla(34, 65%, 18%, 0.501);
}

.inventory-form input {
  font-size: 20px;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.877);
  padding: 5px;
  border: 2px solid black;
  max-height: 22px;
}

.inventory-form select {
  font-size: 20px;
  width: 80%;
  background-color: hsla(0, 0%, 100%, 0.877);
  height: 25px;
  margin-top: 5px;
  border-radius: 4px;
}

.inventory-form button {
  max-width: 80%;
}
