.order {
  background-image: url("../public/images/bakery.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsla(39, 67%, 47%, 0.027);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.wrapper-cart {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: stretch;
  /* margin-right: 40px; */
}
